.restaurant-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 80%;
  max-height: 60%;
  margin: 0 auto;
  border-radius: 10px;
}


.restaurant-card-pic {
  border-radius: 10px;
  max-width: 40%;
  max-height: 60%;
}

.restaurant-card-information {
  width:100%;
}

.restaurant-card-buttons {
  display: flex;
  justify-content: center;
}

.restaurant-card-dislikebutton {
  margin-right: 30px;
}

.restaurant-like-button {
  text-align:center;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px 42px;
  border-color: #659157;
  color: #659157;
  background-color: white;

}

.restaurant-like-button:hover {
  border-color: #659157;
  color: white;
  background-color: #659157;
}

.restaurant-dislike-button {
  text-align:center;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px 30px;
  border-color: #DB5461;
  color: #DB5461;
  background-color: white;
}

.restaurant-dislike-button:hover {
  border-color: #DB5461;
  color: white;
  background-color: #DB5461;
}
